
    html{
        font-size: calc(1rem + (5) * ((100vw - 300px) / 780));
        color: blue;
    }
    #hkh{
        display: flex;
        justify-content: center;
        color: magenta;;
        font-style: oblique; 
        animation-name: slidein;
        animation-duration: 4s; 
        transition: height 0.5s;
        transition-delay: 0.5s; 
        transition-timing-function: ease;  
    }
    @keyframes slidein {
        from {
    margin-right: 100%;
    width: 300%; 
  }
      }
    form{
        display: grid;
        grid-auto-rows: auto;
    }
    body{
        height: 100%;
        background-color: lightpink;
    }
    
    main{
        display: flex;
        flex-direction: column;
        background-color: wheat;
        border: 2px solid brown;
        margin: 0px 300px;
        padding: 10px;
        animation-name: import;
        animation-duration: 3s;
    }

 @keyframes import {
    from { margin-right: 100px; }
    100%  { margin-left: 100px} /* ignored */
    to   { margin-left: 100px; }
  }
    input{
        cursor: pointer;
    }
    button{
        color: yellow;
        background-color: darkolivegreen;
        cursor: pointer;
        width: 50px;
    }
    input[type=text]{
        width: 45px;
        padding: 5px 30px;
        border: none;
        color: rgb(184, 46,28);
        border-bottom: 2px solid black;
    transition: width 0.4s ease-out;
    }
    input[type=text]:focus{
      width: 70%
    }
input[type=time]{
    width: 45px;
    background-color: lightgreen;
}
    footer{
        font-size: 30px;
        color: darkblue;
        margin: 0px 300px;
        display: flex;
        justify-content: center;
        border: 2px solid darkgreen;
        animation-name: import2;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
    }
    @keyframes import2 {
        from { margin-right: 100px; }
        100%  { margin-left: 100px} /* ignored */
        to   { margin-left: 100px; }
       
      }

#TODOLISTS{
    display: grid;
    font-family: cursive;
    color: darkviolet;
    overflow-x: auto;
    overflow-y: hidden;
  
}
#add > label::after{
    content: "😊";
}
label::before{
    content: "👫";
}

